.red {
  color: #FF0000;
}

ul {
  margin: 0;
  padding: 2px 0 0 0;
  font-size: 14px;
}

ul li {
  list-style: none;
  display: inline;
}

.card {
  width: 20px;
  display: inline-block;
}

.nav-menu {
  
}

.virtual-each {
  overflow-y: auto;
  border: 1px solid #333;
  width: 115px;
}
 
.simple-list {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 900px;
}

.list-wrap {
  display: inline-block;
}

.simple-list > * ::-webkit-scrollbar {
  display: none;
}

.shoe-card {
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 2px;
  width: 90px;
}
